.board{
    border: 15px solid black;
}

.row{
    display: flex;
}

.box{
    height: 60px;
    width: 60px;
    background-color: white;
}

.row:nth-child(odd)>.box:nth-child(odd),
.row:nth-child(even)>.box:nth-child(even){
    background-color: black;
}